{% extends 'base.html' %}

{% block body %}

<div class="m-0">
    <div style=" background-color:rgba(0,0,0,0.2);">
        <a href="javascript:history.go(-1);" class="close">+</a>
        <h5 class="bg-info text-center">stock group summary</h5>
    </div> 
    
    <div class="container-fluid">
        <div class="row" style="border:1px solid ;">
            <div class="col-sm-3 m-0 p-0"></div>
            <div class="col-sm-6-m-0-p-0">
                <h5>Particular</h5>
            </div>
           
            <div class="col-sm-3">
                <p class="ABC">ABC Limited </br>For 1-Apr-22 </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
