{% extends 'base.html' %}

{% block body %}


<div class="container-fluid "  style="border: 1px solid; background-color:rgba(0,0,0,.4);">
    <div class="row">
        <div class="col-sm-6 m-0 p-0 b1 " style="border-right: 1px solid;" >
           

            <div class="row ml-0" style="border-bottom: 1px solid;">
                <div class="col-sm-6 m-0 p-0 head" ><h5 class=" par">particulars</h6></div>
                    <div class="col-sm-6 m-0 p-0 head"><p class=" ABC">ABC Limited </br>For 1-Apr-22 </p></div>
            </div>

            

          
            
        </div>

        <div class="col-sm-6 m-0 p-0 b1 " >
            <div class="row m-0" style="border-bottom: 1px solid;">
                <div class="col-sm-6 m-0 p-0 head"><h5 class=" par">particulars</h6></div>
                    <div class="col-sm-6 m-0 p-0 head"><p class="ABC">ABC Limited </br>For 1-Apr-22 </p></div>
            </div>
            


                <ul class="ul">
                    <li class="list2"><a href="sales">Sales Acount</a><i class="float-right">{{total}}.00</i></li>
                    <li class="list2"><a href="payhead_list" >Direct Income</a></li>
                    <li class="list2"><a href="stockgroup" >Closing stock</a></li>
                    <li class="list2 mt-5"><a href="#" >Gross profit</a></li>
                    <li class="list2"><a href="indirect" >Indirect Incomes</a></li>
                   
                    
                </ul>

               

                

        </div>

        <div class="col-sm-6 m-0 p-0  " style="border-right: 1px solid; border-top: 1px solid;" >
           

            <div class="row ml-0" >
                <div class="col-sm-6 m-0 p-0 " ><a class="total">Total</a></div>
                   
            </div>

            

          
            
        </div>

        <div class="col-sm-6 m-0 p-0  " style="border-right: 1px solid; border-top: 1px solid;" >
           

            <div class="row ml-0" >
                <div class="col-sm-6 m-0 p-0 " ><a class="total">Total</a></div>
                   
            </div>

            

          
            
        </div>
        






        
        

    </div>
</div>



{% endblock %}
